.Check-Stuff {
  font-size: x-large;
  justify-content: center;
  height: 25px;
  width: 30%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  display: grid;
  grid-column: auto;
  gap: 0;
  justify-self: end;
  align-self: flex-end;
  width: fit-content;
  justify-self: start;
  cursor: pointer;
  color: crimson;
  font-weight: 500;
  background-color: whitesmoke;
  background-color: #282c34;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
}
